<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>404 | Page not found</title>
  <meta name="description" content="description">
  <meta name="author" content="D O P E">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="assets/dist/css/core.min.css">

</head>

<body>
	<header>
		<nav>
			<ul class="nav-links">
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Somewhere</a></li>
				<li><a href="#">Earth</a></li>
				<li><a href="#">Surprise Me</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<div class="container">
				<div class="wrapper">
					<div class="content">
						<div class="title">
							<h1>Looks like you lost your way!</h1>
						</div>
						<div id="text__p" class="text__404">404</div>
						<div class="cta">
							<a href="#">take me home</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<span class="copy">&copy; DOPE Lab</span>
		<a href="https://www.freepik.com/photos/nature" target="_blank">Nature photo created by rawpixel.com - www.freepik.com</a>
	</footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="assets/dist/js/core.min.js"></script>
</body>
</html>